body {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 1000px;
    margin: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
}

#logo {
    position: relative;
}

#logo::after, #logo::before {
    content: "";
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: block;
}

#logo::after {
        background: #f2ac04;
        position: absolute;
        top: 0;
        left: 15px;
  }

#logo::before {
        background: #f8d277;
}

#header-menu {
    width: 100%;
}